<div class= "include-title">
<div class="feed-background">
  <% @articles.each do |article|%>
    <div class="article-parent-container">
      <div class="parent-article-user-name">
      <div class="article-user-name">
        <%= article.user.username%>
      </div>
      </div>

      <div class="article-container">
        <div class="article-header">
          <%= article.title%>
        </div>
        <div class="article-body">
          <%= article.description%>
        </div>
      </div>
    </div>
  <%end%>
  </div>
</div>
