<h4>Welcome Users</h4>

<%# <div>Total <%= pluralize(@users.count)%>

<div class="form-container">
  <% @users.each do |t| %>
    <div class="form-container-inner">
      <ul>
        <li>Username:</li>
          <% if logged_in? && (t == current_user || current_user.admin?)%>
           <%= link_to t.username, t%>
           <%else%>
           <%= t.username%>
           <%end%>
        
      </ul>
    </div>
  <%end%>
</div>


 <div>
  <%= link_to "Signup", '/signup', class: "button"%>
 </div>
 