<h1 class="headings">Welcome to UserAuthentication</h1>

<div class="options-container">
  <ul>
    <li class="button"><%=link_to "Create new user", '/signup' %></li> <!-- /signup works without url: '/signup' -->
    <li class="button"><%=link_to "Login"%></li>
  </ul>
</div>