<h1 class="headings">Welcome to UserAuthentication</h1>

<div class="home-container">
  <div class="button-signup "><%=link_to "Create new user", '/signup' %></div> <!-- /signup works without url: '/signup' -->
  <div class="button-login"><%=link_to "Login" , '/login'%></div>
</div>