/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

body {}

div.navigation-panel {
  /* border: 4px solid rgb(22, 147, 18); */
  background-color: #f2fbff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3px;
  position: fixed;
  width: 100%;
  
  /* width: 100%; */
   
}

.linkuser {
  align-self: self-end;
  
}
.link:hover  {
  padding: 3px;
  border: 2px solid rgb(157, 245, 227);
  border-radius: 4px;
  font-weight: 600;
  color: rgb(120, 14, 83);
  /* box-shadow:#f7ffc1 0px 19px 38px, #f7ffc1 0px 15px 12px; */


}

.link {
  /* border: 1px solid black; */
  text-decoration: none;
  color: rgb(13, 17, 6);
  font-size: 17px;
  padding: auto;
  margin: 10px;
  font-weight: 200;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform:capitalize;
  flex: 4 0 30px;
  height: 200px;
  transition: 0.16s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

div.form-container {
  /* border: 1.2px solid black; */
  /* background-color: ; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 22px;
  
}

div.form-container-inner{
  font-family: inherit;
  padding: 0.2rem;
  display: flex;
  /* border: 0.5px solid black; */
  justify-content: space-evenly;
  flex-basis: 200px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 10px;
  
  

}
.form-field:hover {
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */

}

.form-field {
  /* border: 1px solid rgb(169, 42, 42); */
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-direction: column;
  margin: 5px;
  

}
/* .input {
  /* border: 0.9px solid lightcoral; */
  /* border: 0.4px solid black;
  border-radius: 3px;
  padding: 0.2rem;
  flex-shrink:6;
  background-color: rgb(255, 255, 255);

   */
  

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  flex: 1;
}

.description {
  margin-left: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: blueviolet;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  /* border: 3px solid yellow; */
  box-sizing: inherit;
}

.button-signup {
  
  border: 5px solid rgb(184, 250, 255);
  text-decoration: none;
  font-size: inherit;
  padding: 5px;
  margin: 5px;
  font-style: normal;
  font-size: 50px;
  text-decoration: none;
  color: skyblue;  
}

.signup {
  color: skyblue;
}

.login {
  color: skyblue;
}
ul {
  list-style-type: none;
}

html {
  background-color: rgb(244, 244, 244);
  color: rgb(76, 72, 72);
  animation-duration: 3s;
  animation-name: backgrou;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  /* background-image: repeating-radial-gradient(grey , black, skyblue); */
}


@keyframes backgrou {
  0% {
    background: repeating-radial-gradient(135deg, #ff670f 0%, #ff670f 21%, #ffffff 56%, #0eea57 88%);
}
50% {
    background: repeating-radial-gradient(135deg, #ff670f 0%, #ff670f 10%, #ffffff 40%, #0eea57 60%);
}
100% {
    background: repeating-radial-gradient(135deg, #ff670f 0%, #ff670f 5%, #ffffff 10%, #0eea57 40%);
}
}



.article-parent-container {
  /* border: 1px solid green; */
  padding: 0.3px;
  margin: 10px; 
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  
  /* border: 6px solid black; */
  /* box-shadow:  0.1px 0.1px 1px; */
}
/* 
.parent-article-user-name {
  /* border: 1px solid rgb(28, 31, 94); */
  /* padding: 0.8px;
  margin: 5px;
  max-width: 10%;
  display: flex;
  flex-shrink: 3;
   */



.article-user-name {
  /* border: 1px solid rgb(28, 31, 94); */
  /* margin: 10px; */
  padding: 10px ;
  margin: 10px;
  font-weight:bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  /* box-shadow:  0.1px 0.1px 1px;  */
  
}

.article-container {
  /* border: 1px solid rgb(243, 215, 79); */
  padding: 3px;
  display: flex;
  flex-direction: column;
   /* box-shadow:  0.1px 0.1px 1px; */
  /* border: 1px solid green; */
  width: 350px;
  border-radius: 2px;
  flex-shrink: 0;
  height: auto;
  background-color: rgb(255, 253, 253);
  box-shadow: 0.2px 0.2px 1px rgb(25, 28, 30);  
}

.article-header {
  /* border: 1px solid rgb(98, 8, 98); */
  padding-top: 2px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(205, 204, 204);

}

.article-body {
  /* border: 1px solid rgb(211, 13, 17); */
  margin: 3px;
  font-size: 14px;
  line-break: auto;
}

.article-form-container {
}

.title-field {
 width: 350px;
 /* border: 2px solid  black; */
 display: flex;
 justify-content: end;
 align-items: baseline;


}

.input {
  font-size: 10px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #ffffff;
  /* border: 2px solid var(--input-border);
  border-radius: 4px; */
  /* transition: 180ms box-shadow ease-in-out; */
  outline: none;
  width: 250px;
  min-height: 17px;
  border: 0.2px solid rgb(82, 0, 94);
  box-shadow: 0 0 8px rgb(255, 255, 255) ;
  border-radius: 2px;
  color: rgb(39, 39, 39);
  
  
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

textarea.input {
  resize: vertical;
  min-height: 20px;
}
/* 
.input:focus {
  border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) +
          40%), 0.8);
} */

.label {
  max-width: 100px;
  min-width: 100px;
  flex-shrink: 0;
  font-size: 0.8em;
  padding: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description-field {
  width: 350px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: end;
  align-items: baseline;


}

.form-fields {
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  height: 90px;

}

.article-button {
  transition: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 300ms;  
  align-self: center;
}


.article-ff:hover {
  border: 2px solid black;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.include-title {
  display: flex;

  justify-content: center;
}

.feed-background {
  margin-top: 60px ;
  /* border: 1px solid red; */
  /* background-color: rgb(255, 253, 253); */
  width: 500px;
  border-radius: 6px;
  /* border: 0.2px solid blue; */
  /* box-shadow: 0.2px 0.2px 3px rgb(0, 71, 125); */
}

/* .button {
  border: 3px solid red;
}
 */


.users-space {
  margin-top: 10px;
  border: 0.22px solid black;
  width: 100%;
  height:auto;
  padding-bottom: 10px;
}

.edit-action, .delete-action {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 8px;
  letter-spacing: 0.7px;
  text-decoration: none;
  color: #353434;
}

.article-actions {
  /* border: 1px 
  solid black; */
  display: flex; 
  justify-content: end;
  gap: 3px;
  padding: 1.6px;
}

.edit-action:hover {
  color: blue;
  
}

.delete-action:hover {
  color: red;
  
}

.home-button {
  text-decoration: none;
  color: white;
  background-color: rgb(9, 132, 255);
  height: auto;
  width: 120px;
  
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-grow: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px;
  padding: 60px;
}

.home-button:hover {
  color: rgb(9, 132, 255);
  background-color: white;
  box-shadow: 2px 2px 16px rgb(9, 132, 255);
  transform: scale3d(30px);
  /* transition-duration: 200ms; */
  /* letter-spacing: 1.4px; */
  /* transition-timing-function: ease-in-out; */
}

.home-button  {
  display: flex;
  justify-content: space-evenly;
  min-width: 310px;
  padding: 2px;
  transition: 0.6s ease-out 0.25s;
  animation-duration: 2s;
  animation-name: change-color;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes change-color {
from {
  background-color: red;
}

to {
  background-color: yellowgreen;
}
}


