/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 
 * {
  /* border: 1px solid black; */
  /* margin: 10px; */ 
  
 /* } */ 
.form-container {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed blue; */
}

.form-field {
  /* border: 2px dashed rgb(67, 234, 161); */
  display: flex;
  
  justify-content: center;
  flex-direction: row;

  
}

.label {
  /* border: 2px dashed rgb(78, 153, 190); */
  flex: 1;

}