/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
* {
  margin: 0;
  padding: 0;
}

div.navigation-panel {
  border: 1px solid black;
  background-color: #8ecae6;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.3px;
  
}
.link:hover  {
  padding: 3px;
  border: 2px solid rgb(157, 245, 227);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  /* box-shadow:#f7ffc1 0px 19px 38px, #f7ffc1 0px 15px 12px; */


}

.link {
  /* border: 1px solid black; */
  text-decoration: none;
  color: rgb(13, 17, 6);
  font-size: 17px;
  padding: auto;
  margin: 10px;
  font-weight: 200;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform:capitalize;
  flex: 4 0 30px;
  height: 200px;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

div.form-container {
  /* border: 1.2px solid black; */
  /* background-color: ; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 22px;
  
}

div.form-container-inner{
  font-family: inherit;
  padding: 0.2rem;
  display: flex;
  border: 0.5px solid black;
  justify-content: space-evenly;
  flex-basis: 200px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 10px;
  
  

}
.form-field:hover {
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */

}

.form-field {
  /* border: 1px solid rgb(169, 42, 42); */
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-direction: column;
  margin: 5px;
  

}
.input {
  /* border: 0.9px solid lightcoral; */
  border: 0.4px solid black;
  border-radius: 3px;
  padding: 0.2rem;
  flex-shrink:6;
  background-color: rgb(255, 255, 255);

  
  
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  flex: 1;
}

.description {
  margin-left: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color: blueviolet;
}

.button {
  color: black;
  border: 1.2px solid grey;
  text-decoration: none;
  border-radius: 4px;
  margin: 4px;
  padding: 3px;
  font-size: inherit;
}
ul {
  list-style-type: none;
}

























